.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* image toggle */
#niceSpot {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    height: 30px;
    width: 30px;
}

#intro {
    margin: 0;
}

body {
    position: relative;
    background-color: #f7f4f1;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

#me {
    color: #dd5d2a;
    transition: color 0.75s ease-in-out;
}

.sections {
    color: #dd5d2a;
    transition: color 0.75s ease-in-out;
}

.container {
    width: 58%;
}

.container p {
    text-align: left;
}

/* icons for projects */
ul {
    list-style: none;
}

#tradingBot::before {
    content:"₿ ⇝";
}

#pacman::before {
    content:"👾 ⇝";
}

#numberTheory::before {
    content:"🔢 ⇝";
}

#squareAndMultiply::before {
    content:"🔐 ⇝";
}

li a {
    color: black;
}

/* footer */
a {
    color: #dd5d2a;
    text-decoration: none;
}

a {
    transition: color 0.5s ease-in-out;
}

footer p {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 10px;
    width: 98.5%;
}

/* dark */
body.dark-mode {
    color: white;
    background-color: #080f1b;
}

body.dark-mode #me {
    color: #e8f536;
}

body.dark-mode .sections {
    color: #e8f536;
}

body.dark-mode a {
    color: #e8f536;
}

body.dark-mode li a {
    color: white !important;
}