#niceSpot {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    height: 30px;
}

.intro {
    margin: 0;
    text-align: center;
}

.container {
    width: 40%;
}


/* light mode*/
body {
    background-color: #f5c3a8;
    font-family: "Pixelify Sans";
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.sections {
    color: #0033ff;
    transition: color 0.5s ease-in-out;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

li a:hover {
    color: #0033ff;
    transition: transform 0.5s ease, color 0.5s ease;
}

/* dark mode */
body.dark-mode {
    color: #ffffff;
    background-color: #2d286b;
}

body.dark-mode .sections {
    color: #da9100;
}

body.dark-mode a {
    color: #ffffff;
    text-decoration: none;
}

body.dark-mode li a:hover {
    color: #da9100;
}
